.topNav {
	margin-bottom: 15px;
}
a:visited, a:link, #test {
	color: white;
}
a:hover, #test:hover {
	color: slategray;
}

#home-link{
	color: #2ECC40;
}

.first {
	color: yellow;
}

.parenth {
	color: white;
}

.dev {
	color: #42a4d9;
}